.header {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 100px;
  overflow: hidden;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}
