@import url('../two-columns/__brief/two-columns__brief.css');
@import url('../two-columns/__main-text/two-columns__main-text.css');
@import url('../two-columns/__paragraph/two-columns__paragraph.css');
@import url('../two-columns/__span-accent/two-columns__span_accent.css');

.two-columns {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: baseline;
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
