.page {
  display: flex;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color:  #f2f2f2;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;

}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  display: flex;
  width: 730px;
  position: relative;
  top: 35%;
  left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
}

.header__subtitle {
  display: flex;
  position: absolute;
  padding-bottom: 20px;
  bottom: 30px;
  left: 64px;
  width: 388px;
  height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  display: flex;
  position: absolute;
  top: 87%;
  left: 64px;
  color: #2f80ed;
}

.header__main-illustration {
  display: flex;
  position: absolute;
  width: 765px;
  height: 608px;
  left: 50%;
  bottom: 0;
  z-index: 1;
  justify-content: flex-end;
}

.header__square-pic {
  display: flex;
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  left: 63%;
  background-color: #2f80ed;
}

.description {
  display: flex;
  position: relative;
  justify-content: space-between;
  left: 10%;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  top: 100px;
  bottom: 100px;
}

.two-columns__brief {
  display: flex;
  position: relative;
  top: 10%;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-right: 5%;
  color: #2f80ed;
}

.two-columns__paragraph {
  min-width: 784px;
  width: 80%;
  height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding: 30px;
}

.two-columns__paragraph:last-child {
  height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding: 30px;
}

.two-columns__span-accent {
  font-weight: bold;
}


.digits__section-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  left: 23%;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.digits__section-subtitle {
  justify-content: center;
  position: relative;
  left: 46%;
  height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  padding-top: 60px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.table__cell {
  width: 250px;
  text-align: right;
  align-items: stretch;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
}

.table__text-more {
  font-weight: normal;
}

.feynman {
  height: 648px;

}


.feynman__title {
  position: relative;
  top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  justify-content: center;
}

.feynman__subtitle {

}

.feynman_link {

}

.










/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  justify-content: end;
}
